html, body {
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Microsoft Yahei", "PingFang SC";
}

.listview {
    position: absolute;
    top: 0;
    bottom: 0;

    .item {
        padding: 0.5rem;
        font-size: 0.4rem;
        border-bottom: 1px solid #ffffff;
    }
}